# .NET Core
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio files
.vs/
.vscode/
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 2015/2017/2019 cache/options directory
.vs/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# StyleCop
StyleCopReport.xml

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.dcproj.user

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Developer appsettings files (which may contain secrets)
**/appsettings.Development.json
**/appsettings.local.json

# SQLite database files
*.db
*.db-shm
*.db-wal

# Test Results
TestResults/
[Cc]overage/
*.coverage
*.coveragexml

# Angular/Node files
/dist
/tmp
/out-tsc
/bazel-out
node_modules/
npm-debug.log
yarn-error.log
.pnpm-debug.log
/.angular/cache
.sass-cache/
connect.lock
coverage/
libpeerconnection.log
testem.log
typings/
.angular

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Miscellaneous
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
Thumbs.db

# Temporary directories
temp/
tmp/
frontend/estimation-app/cypress/screenshots/
frontend/estimation-app/cypress/videos/
.k8s/helm/rendered/
.k8s/helm/estimationtool/rendered/
.k8s/helm/estimationtool/*override.yaml